---
title: "fun main()"
page-description: ": Nothing"
layout: page
---

<div class="row">
	{% for post in site.posts %}
		<div class="col-xs-12">
			<article class="media" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

				{% if post.image %}
					<div class="media-left">
						<img class="media-object" src="{{ post.image }}" alt="{{ page.title }}"/>
					</div>
				{% endif %}

				<div class="media-body">

					<p class="post-meta pull-right">
						<span itemprop="keywords">{{ post.tags | join: ', ' }}</span>
						<time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
							{{ post.date | date: "%-d %b, %Y" }}
						</time>
					</p>

					<h2 class="media-heading" id="{{ post.slug }}" itemprop="name">{{ post.title }}</h2>

					<p class="entry">
						<span itemprop="description">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</span>
						<a href="{{ post.url | prepend: site.baseurl }}" itemprop="url" role="button">
							<span>read more&hellip;</span>
						</a>
					</p>
				
				</div>

			</article>
		</div>
	{% endfor %}
</div>
